@charset "UTF-8";

@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif-Bold";
  font-display: swap;
  src: url("../fonts/PTSerif-Bold.woff") format("woff"), url("../fonts/PTSerif-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif-Regular";
  font-display: swap;
  src: url("../fonts/PTSerif-Regular.woff") format("woff"), url("../fonts/PTSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Обнуление*/

body {
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
}

body ul {
  list-style: none;
}

._container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 38px;
  font-weight: 700;
  color: #646667;
  text-align: center;
  margin: 10px 0px 20px 0px;
}

.sub-title {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  color: #646667;
  text-align: center;
  margin: 10px 0px 20px 0px;
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 10px 0px;
  text-transform: uppercase;
}

.header__name {
  width: 260px;
  margin-right: 20px;
  color: #fff;
  z-index: 2;
}

.contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  text-transform: uppercase;
  z-index: 2;
}

.contacts-info a {
  color: #fff;
}

.contacts__email {
  color: #fff;
  z-index: 2;
  text-transform: none;
}

.first__block {
  position: relative;
  background-image: url(../img/bacground.jpg);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #fff;
}

.first__block::after {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.2;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
}

.block__info {
  text-align: center;
  font-size: 40px;
  line-height: 45px;
  height: 70vh;
  padding: 60px 0px 0px 0px;
}

.block__info strong {
  display: block;
  z-index: 2;
}

.portfolio__content {
  margin: 0px 0px 20px 0px;
}

.content__card__img {
  margin: 20px 0px 5px 0px;
}

.content__image {
  background-position: 0 0;
  background-size: contain;
  max-width: 100%;
  border: 1px solid #646667;
}

.content__info {
  font-size: 24px;
  line-height: 30px;
  margin: 0px 0px 0px 20px;
  color: #646667;
}

.content__info span {
  color: #646667;
}

.content__image__title {
  display: block;
}

.content__footer__link {
  color: #646667;
  border-bottom: 1px solid #fff;
}

.services h3 {
  font-style: italic;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 20px 0px;
}

.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}

.services__card__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
  color: #646667;
}

.services__icon {
  width: 80px;
  height: 80px;
  margin: 0px 0px 10px 0px;
}

.services__icon img {
  width: 80px;
  height: 80px;
}

.services__text {
  display: block;
  line-height: 25px;
  height: 100px;
  padding: 0px 20px 0px 10px;
  margin: 0px 0px 10px 0px;
  color: #646667;
}

.icon-menu {
  display: none;
}

.icon-menu._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icon-menu._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon-menu._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

@media (min-width: 991.98px) {
  body a:hover {
    cursor: pointer;
    color: #007397;
  }

  .content__footer__link:hover {
    border-bottom: 1px solid #007397;
  }
}

@media (max-width: 1222px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 930px;
  }

  .header__content {
    padding: 15px 20px 10px 15px;
  }

  .contacts-info {
    display: block;
  }

  .contacts-info a {
    display: block;
    margin: 0px 0px 20px 0px;
  }

  .services__content {
    display: block;
  }

  .icon-menu {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25px;
            flex: 0 0 25px;
    top: 15px;
    right: 10px;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    border-radius: 1px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    z-index: 8;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .popup {
    border: 1px solid green;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }

  .popup.open {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .popup.open .popup__content {
    -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
            transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
  }

  .popup__body {
    border: 1px solid red;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 10px;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    z-index: 3;
  }

  .popup__body .header__menu__link {
    line-height: 28px;
    font-size: 18px;
  }

  .popup__content {
    border: 1px solid blue;
    position: absolute;
    max-width: 800px;
    min-width: 300px;
    height: 200px;
    padding: 30px;
    top: 50px;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    opacity: 0;
    -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
            transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    background-color: #000;
    z-index: 4;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
  }

  .first__block {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 479.98px) {
  .header__content {
    padding: 15px 0px 10px 10px;
    margin-bottom: 0px;
  }

  .first__block {
    height: 300px;
  }

  .block__info {
    font-size: 38px;
    padding: 5px 0px 0px 0px;
  }

  .block__info strong {
    color: tomato;
  }

  .content__info {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 330px) {
  .block__info strong {
    font-size: 36px;
  }
}

.webp .first__block{ background-image: url(../img/bacground.webp); }